
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');

:root {
  --primary-blue: #012f6b;
  --accent-yellow: #f3aa1d;
  --highlight-blue: #1ba3dc;
  --text-brown: #512d1f;

  --font-main: 'DM Serif Text', serif;
}

html {
  height : 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--font-main);
  background-image: linear-gradient(to right top, #012f6b, #004a89, #0067a5, #0284c1, #1ba3dc);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
