@tailwind base;
@tailwind components;
@tailwind utilities;

/* In your global CSS file (e.g., index.css) */
.text {
  animation: slideIn 1s ease-out forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Starts slightly below */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Ends at the original position */
  }
}



/*@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');

:root {
  --primary-blue: #012f6b;
  --accent-yellow: #f3aa1d;
  --highlight-blue: #1ba3dc;
  --text-brown: #512d1f;

  --font-main: 'DM Serif Text', serif;
}

html {
  height : 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--font-main);
  background-image: linear-gradient(to right top, #012f6b, #004a89, #0067a5, #0284c1, #1ba3dc);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
*/